body {
    font-family: "微软雅黑", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    border-bottom: 1px solid #DDD;
}

hr, .markdown-section hr {
    height: 1px;
}

.chapter span {
    font-weight: normal !important;
}

.markdown-section code {
    font-size: 1em;
    padding: 0;
    padding-top: 0.2em;
}

.page-wrapper .page-inner {
    max-width: 1800px;
    padding-left: 30px;
    padding-right: 30px;
}

.navigation.navigation-prev, .navigation.navigation-next {
    display: none;
}

/* Night 主题下搜索输入框、目录的样式 */
.book.color-theme-2 .book-summary #book-search-input {
	color: #bcc1d2;
    background: #2d3143;
    border-bottom: 1px dashed gray;
}

.book.font-family-1 {
    font-family: "微软雅黑", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.book.color-theme-2 .book-summary ul.summary li a {
    font-weight: normal !important;
}

#goTop {
    display: none;
}

#anchors-navbar:hover {
    border: 1px solid #EEE;
    background: white;
}

#anchors-navbar {
    box-shadow: none;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #CCC;
    right: 30px;
    top: 10px;
    background: transparent ;
}

#anchors-navbar ul {
    list-style: none;
    padding: 5px;
}
