body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;
}

h2 {
    border-bottom: 1px solid #DDD;
}

hr, .markdown-section hr {
    height: 1px;
}

.chapter span {
    font-weight: normal !important;
}

.markdown-section code {
    font-size: 1em;
    padding: 0;
    padding-top: 0em;
    border-radius: 2px;
    background: #eee;
    color: #574c4c;
}

.markdown-section p {
    margin-bottom: 0px !important;
}

/* 第一级 ul, ol 的 padding 大一些，他们下面的 ul 的 padding 小一些 */
.markdown-section ol, .markdown-section ul {
    padding-left: 3em;
}
.markdown-section ol ul, .markdown-section ul ul {
    padding-left: 2em;
}

.page-wrapper .page-inner {
    max-width: 1800px;
    padding-left: 30px;
    padding-right: 30px;
}

.navigation.navigation-prev, .navigation.navigation-next {
    display: none;
}

/* Night 主题下搜索输入框、目录的样式 */
.book.color-theme-2 .book-summary #book-search-input {
	color: #bcc1d2;
    background: #2d3143;
    border-bottom: 1px dashed gray;
}

.book.font-family-1 {
    font-family: "微软雅黑", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.book.color-theme-2 .book-summary ul.summary li a {
    font-weight: normal !important;
}

.gitbook-link {
    display: none !important;
}

.book-summary {
    width: 250px;
}

.book.with-summary .book-body {
    left: 250px;
}

.book-summary ul.summary li a, .book-summary ul.summary li span {
    padding: 5px 15px;
}

.book .book-summary .exc-trigger {
    position: absolute;
    left: 12px;
    top: 7px;
}

#goTop {
    display: none;
}

#anchors-navbar:hover {
    border: 1px solid #EEE;
    background: white;
}

#anchors-navbar {
    box-shadow: none;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #CCC;
    right: 30px;
    top: 10px;
    background: transparent ;
}

#anchors-navbar ul {
    list-style: none;
    padding: 5px;
}

/* 滚动条样式 */
::-webkit-scrollbar {
    width:  5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: #888;
}
