<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/global.css?<%= VUE_APP_VERSION %>">
    <title>Template</title>
</head>

<body>
    <noscript>
        <strong>We're sorry but template-vue-app doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>

    <script src="/static/lib/jquery.min.js"></script>
    <script src="/static/lib/jquery.rest.js?<%= VUE_APP_VERSION %>"></script>
    <script src="/static/js/urls.js?<%= VUE_APP_VERSION %>"></script>
    <script src="/static/js/utils.js?<%= VUE_APP_VERSION %>"></script>

    <!-- built files will be auto injected -->
</body>

</html>
