<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 非常重要：必须是 Mapper 类的全路径 -->
<mapper namespace="com.xtuer.mapper.OrganizationMapper">
    <sql id="orgColumns">
        org_id, name, host, port, admin_id, parent_id, contact_person, contact_mobile,
        portal_name, logo, enabled
    </sql>

    <!-- 使用 ID 查询机构 -->
    <select id="findOrganizationById" parameterType="long" resultType="Organization">
        SELECT <include refid="orgColumns"/>
        FROM organization
        WHERE org_id = #{orgId}
    </select>

    <!-- 使用域名查询机构，每个机构有独立的域名 -->
    <select id="findOrganizationByHost" parameterType="string" resultType="Organization">
        SELECT <include refid="orgColumns"/>
        FROM organization
        WHERE host = #{host}
    </select>

    <!-- 使用域名、名称、门户平台名称查询机构列表 -->
    <select id="findOrganizationsLikeName" parameterType="string" resultType="Organization">
        SELECT <include refid="orgColumns"/>
        FROM organization
        <where>
            <if test="name != null and name != '' ">
                name like CONCAT('%', #{name}, '%')
            </if>
        </where>
        LIMIT ${page.offset}, ${page.size}
    </select>

    <!-- 判断指定 ID 的机构是否可使用此域名 -->
    <select id="isHostAvailable" resultType="boolean">
        SELECT NOT EXISTS (
            SELECT 1 FROM organization WHERE host = #{host} AND org_id != #{orgId}
        )
    </select>

    <!-- 新增或更新机构 -->
    <insert id="upsertOrganization" parameterType="Organization">
        INSERT INTO organization
            (org_id, name, host, port, admin_id, parent_id, contact_person, contact_mobile, portal_name, logo)
        VALUES
            (#{orgId}, #{name}, #{host}, #{port}, #{adminId}, #{parentId}, #{contactPerson}, #{contactMobile}, #{portalName}, #{logo})

        ON DUPLICATE KEY UPDATE
            name = #{name}, host = #{host}, port = #{port}, admin_id = #{adminId},
            parent_id = #{parentId}, contact_person = #{contactPerson},
            contact_mobile = #{contactMobile}, portal_name = #{portalName}, logo = #{logo}, enabled = #{enabled}
    </insert>

    <!-- 启用禁用机构 -->
    <update id="enableOrganization">
        UPDATE organization SET enabled = #{enabled} WHERE org_id = #{orgId}
    </update>

    <!-- 使用机构 ID 删除机构 -->
    <delete id="deleteOrganization" parameterType="long">
        DELETE from organization where org_id = #{orgId}
    </delete>
</mapper>
