<?xml version="1.0"?>
<configuration scan="true" scanPeriod="30 seconds">
    <!-- 日志目录 -->
    <property name="logPath" value="${LOG_PATH:-logs}"/>

    <!-- 日志格式 -->
    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p --- [%10.10t] %magenta(%-40.40logger{39})| %3L | %msg%n"/>

    <!-- 控制台日志 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!-- 所有日志 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>

        <file>${logPath}/log.txt</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/log-%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 错误日志: 级别大于等于 WARN 的日志再次写入错误日志文件 -->
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>

        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>

        <file>${logPath}/log-error.txt</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/log-error-%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 根日志对象 -->
    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
        <appender-ref ref="error"/>
    </root>

    <!-- 控制每一个包的日志级别: 可以配置 application.yml 中的 logging.level.com.xtuer=DEBUG 进行配置 -->
    <!-- <logger name="com.xtuer.mapper" level="${logLevel}"/>-->
    <!-- <logger name="com.xtuer"        level="${logLevel}"/>-->
</configuration>
